:root {
    --label-font-size: .75rem;
    --label-font-weight: 400;
    --label-letter-spacing: .03em;
    --label-border-radius: .6rem;
    --label-default-border-color: #8c8c8c;
    --label-font-color-light: #000;
    --label-info-bg-color: #e3f5fc;
    --label-info-font-color: #00567a;
    --label-info-border-color: #00567a;
    --label-info-border-color: #00567a;
    --badge-info-bg-color: #00567a;
    --badge-info-color: #fff;
    --label-success-bg-color: #dff0d0;
    --label-success-font-color: #306b00;
    --label-success-border-color: #306b00;
    --badge-success-bg-color: #306b00;
    --label-warning-bg-color: #fff4c7;
    --label-warning-font-color: #333;
    --label-warning-border-color: #ad7600;
    --badge-warning-bg-color: #613200;
    --badge-warning-color: #fff;
    --label-danger-bg-color: #feddd7;
    --label-danger-font-color: #991700;
    --label-danger-border-color: #991700;
    --badge-danger-bg-color: 991700;
    --badge-danger-color: #fff;
    --theme-background-color: rgba(0, 0, 0, 0.01);
    --player-remote-bg-color: ghostwhite;
    --player-remote-shadow-color: rgba(0,0,0,.3);
    --stamp-mix-blend-mode: multiply;
    --stamp-is-approved-color: #0A9928;
    --domino-color: #fff;
    --domino-border-color: gray;
    --domino-hover-color: lightblue;
    --domino-preselected-color: rgba(205, 92, 92, 0.5);
}

    :root .dark-theme {
        --theme-background-color: rgb(33, 36, 37);
        --top-row-bg-color: rgba(0,0,0,0.4);
        --top-row-color: white;
        --swal-bg-color: rgb(24,26,27);
        --player-remote-bg-color: dimgrey;
        --player-remote-shadow-color: white;
        --stamp-mix-blend-mode: normal;
        --label-light-bg-color: white;
        --stamp-is-approved-color: lime;
        --domino-color: whitesmoke;
        --domino-preselected-color: lightcoral;
        color: white;
    }

@media (max-width: 768px) {
    :root {
        --label-font-size: .70rem;
    }
}
