@using CurrieTechnologies.Razor.SweetAlert2
@inject IJSRuntime JS
@inject SweetAlertService Swal
@inject NavigationManager Navigation
@inject HttpClient Http
@inject IClientStore Store

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData">
                <Authorizing>
                    <SpinnerOverlay Visible="true" FullHeight="true"></SpinnerOverlay>
                </Authorizing>
                <NotAuthorized>
                    @if (!context.User.Identity.IsAuthenticated)
                    {
                        ShowLoginPrompt();
                    }
                    else
                    {
                        <!-- TODO: make this better -->
                        <p>
                            You are not authorized to access
                            this resource.
                        </p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <!-- TODO: make this use a different layout etc. -->
            <LayoutView Layout="@typeof(MainLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>

@code {
    protected override async Task OnInitializedAsync()
    {
        // TODO: could prolly replace this w/ a service that checks the store and fetches user info it doesn't already have
        //  - this way we'd be fetching user info as it's relevant vs pulling the entire list of users
        Store.Users = await Http.GetFromJsonAsync<List<FortyTwo.Shared.DTO.User>>("api/users");

        await base.OnInitializedAsync();
    }

    public async void ShowLoginPrompt()
    {
        await Swal.FireAsync(new SweetAlertOptions
        {
            Icon = SweetAlertIcon.Error,
            Title = "Who goes there?!",
            AllowOutsideClick = false,
            AllowEscapeKey = false,
            ConfirmButtonText = "I can explain&hellip;",
            ShowLoaderOnConfirm = true,
            ShowClass = new SweetAlertShowClass { Popup = "swal2-show", Backdrop = "swal-logout-bg" },
            PreConfirm = new PreConfirmCallback(async () =>
            {
                try
                {
                    Navigation.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(Navigation.Uri)}");
                    await Task.Delay(TimeSpan.FromSeconds(3));
                    await Swal.ShowValidationMessageAsync("good grief, this is taking a while&hellip;");
                    await Task.Delay(TimeSpan.FromSeconds(7));
                    await Swal.ShowValidationMessageAsync("");
                }
                catch
                {
                    await Swal.ShowValidationMessageAsync("well, something went wrong&hellip;");
                }

                return "false";
            })
        });
    }
}