@using FortyTwo.Shared.Extensions
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
@inject IAccessTokenProvider TokenProvider

<!-- TODO: perhaps build out a user obj to inject vs grepping context.User -->

<ul class="navbar-nav my-2 my-lg-0 pr-2">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="@context.User.Claims.SingleOrDefault(c => c.Type == "picture")?.Value" class="img img-fluid rounded-circle" width="35" alt="default icon"
                         onerror="this.src='https://cdn.discordapp.com/embed/avatars/1.png';">
                    @(context.User.GetDisplayName() ?? context.User.Identity.Name)
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/profile">Profile</a>
                    <a class="dropdown-item" @onclick="@(async () => await BeginSignOut())">Logout</a>
                </div>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item btn"><a href="authentication/login">Login</a></li>
        </NotAuthorized>
    </AuthorizeView>
</ul>

@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }

    [Inject]
    private IClientStore Store { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        if (authState?.User?.Identity?.IsAuthenticated == true)
        {
            AddLoggedInUserAsync(authState.User);
        }

        if (authState?.User?.Identity?.IsAuthenticated == true
            && (!(await TokenProvider.RequestAccessToken()).TryGetToken(out var token)
                || token.Expires <= DateTimeOffset.Now))
        {
            await BeginSignOut();
            return;
        }

        await base.OnInitializedAsync();
    }

    public void AddLoggedInUserAsync(System.Security.Claims.ClaimsPrincipal principal)
    {
        var loggedInUserId = principal?.Claims.SingleOrDefault(c => c.Type == "sub")?.Value;
        if (!string.IsNullOrWhiteSpace(loggedInUserId) && Store.Users.Values.All(x => x.Id != loggedInUserId))
        {
            var loggedInUser = new FortyTwo.Shared.DTO.User()
                {
                    Id = loggedInUserId,
                    Email = principal.Identity?.Name,
                    Nickname = principal.Claims.SingleOrDefault(c => c.Type == "nickname")?.Value,
                    Picture = principal.Claims.SingleOrDefault(c => c.Type == "picture")?.Value,
                    UserMetadata = new FortyTwo.Shared.DTO.UserMetadata
                    {
                        DisplayName = principal.Claims.SingleOrDefault(c => c.Type == FortyTwo.Shared.Constants.Claims.DisplayName)?.Value,
                        UseDarkTheme = principal.Claims.SingleOrDefault(c => c.Type == FortyTwo.Shared.Constants.Claims.DisplayName)?.Value == "true"
                    }
                };

            Store.Users.AddOrUpdate(loggedInUserId, loggedInUser, (_, __) => loggedInUser);
        }
    }

    private async Task BeginSignOut()
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}
