@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<!-- TODO: perhaps build out a user obj to inject vs grepping context.User -->

<ul class="navbar-nav my-2 my-lg-0 pr-2">
    <AuthorizeView>
        <Authorized>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <img src="@context.User.Claims.SingleOrDefault(c => c.Type == "picture")?.Value" class="img img-fluid rounded-circle" width="35" alt="default icon"
                         onerror="this.src='https://cdn.discordapp.com/embed/avatars/1.png';">
                    @(context.User.Claims.SingleOrDefault(c => c.Type == "nickname")?.Value ?? context.User.Identity.Name)
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" @onclick="BeginSignOut">Logout</a>
                </div>
            </li>
        </Authorized>
        <NotAuthorized>
            <li class="nav-item btn"><a href="authentication/login">Login</a></li>
        </NotAuthorized>
    </AuthorizeView>
</ul>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}