@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <nav class="navbar navbar-expand-sm navbar-light bg-light p-0">
            <div class="ml-md-auto">
                <AccessControl />
            </div>
        </nav>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
