@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<div class="main">
    <div class="top-row px-4 justify-content-between">
        <a class="navbar-brand @(DarkThemeEnabled ? "navbar-dark" : "navbar-light")" href="/">FortyTwo</a>
        <nav class="navbar navbar-expand-sm p-0">
            <div class="ml-md-auto">
                <AccessControl />
            </div>
        </nav>
    </div>

    <div class="content px-3">
        @Body
    </div>
</div>

@code {
    private bool DarkThemeEnabled { get; set; }

    protected async override Task OnInitializedAsync()
    {
        DarkThemeEnabled = await JSRuntime.InvokeAsync<bool>("getUserPrefersDarkTheme");

        await base.OnInitializedAsync();
    }
}