@inherits LayoutComponentBase

<div class="main">
    <div class="top-row px-4 justify-content-between">
        <a class="navbar-brand" href="/">FortyTwo</a>
        <nav class="navbar navbar-expand-sm navbar-light p-0">
            <div class="ml-md-auto">
                <AccessControl />
            </div>
        </nav>
    </div>

    <div class="content px-3">
        @Body
    </div>
</div>
