<div class="overlay-container">
    <div class="spinner-overlay" style="@(FullHeight ? "height: 100vh;" : "")">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool FullHeight { get; set; }
}
