@using FortyTwo.Shared.Models

@if (Player != null)
{
    <h4 class="ellipsis">
        @if (IsActive)
        {
            <span class="active-dot mr-2"></span>
        }
        @GetPlayerName(Player.Id)
    </h4>

    @if (Bid.HasValue)
    {
        <Chip Context="Components.Models.ContextualClass.Warning">
            <Label>Bid</Label>
            <Badge>@Bid.Value.ToPrettyString()</Badge>
        </Chip>
    }

    @if (Trump.HasValue)
    {
        <Chip>
            <Label>Trump</Label>
            <Badge>@Trump.Value</Badge>
        </Chip>
    }

    @if (Ready == true)
    {
        <Chip Context="Components.Models.ContextualClass.Success">
            <Label>Ready</Label>
            <Badge>✔</Badge>
        </Chip>
    }

    @if (DominoCount != 0)
    {
        <span>@DominoCount</span>
    }
}
else
{
    <div class="alert alert-danger" role="alert">
        This spot is empty :(
    </div>
}


@code {
    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public bool IsActive { get; set; } = false;

    [Parameter]
    public int DominoCount { get; set; }

    [Parameter]
    public Bid? Bid { get; set; }

    [Parameter]
    public Suit? Trump { get; set; }

    [Parameter]
    public bool? Ready { get; set; }

    [Inject]
    public IClientStore Store { get; set; }

    public string GetPlayerName(string playerId)
        => Store.Users.FirstOrDefault(x => x.Id == playerId)?.DisplayName ?? $"Unknown Player ({playerId})";
}
