@using FortyTwo.Shared.Models

@if (Player != null)
{
    <div class="col-4">
        <h4>
            @Player.Id
            @if (IsActive)
            {
                <span class="active-dot"></span>
            }
        </h4>
        @if (DominoCount != 0)
        {
            <span>@DominoCount</span>
        }
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">
        This spot is empty :(
    </div>
}


@code {
    [Parameter]
    public Player Player { get; set; }

    [Parameter]
    public bool IsActive { get; set; } = false;

    [Parameter]
    public int DominoCount { get; set; }
}
