@page "/games"
@attribute [Authorize]
@layout MainLayout
@using FortyTwo.Client.ViewModels
@inject IGamesViewModel Model

<div>
    <h3>
        Games
        <button type="button" class="btn btn-link" @onclick="@(async () => await Model.FetchGamesAsync())">Update</button>
    </h3>

    <hr />

    <SpinnerOverlay Visible="Model.IsLoading">
        <div>
            @if (Model.Games?.Any() == true)
            {
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var game in Model.Games)
                        {
                            <tr>
                                <td>@game.Name</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <p class="p-3">No games yet.</p>
            }
        </div>
    </SpinnerOverlay>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        if (Model.Games == null)
        {
            await Model.FetchGamesAsync();
        }
    }
}
