@page "/"
@attribute [Authorize]
@layout MainLayout
@using FortyTwo.Shared.Models
@using FortyTwo.Client.ViewModels
@inject HttpClient Http
@inject IJSRuntime JS
@inject IDominoModel DominoViewModel

<style>
    .domino-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
</style>

<button type="button" class="btn btn-link" @onclick="@(async () => await ShuffleAsync())">Shuffle</button>

<div class="domino-container">
    @if (dominos != null)
    {
        @foreach (var domino in dominos)
        {
            <FortyTwo.Client.Components.Domino Top="domino.Top" Bottom="domino.Bottom"></FortyTwo.Client.Components.Domino>
        }
    }
</div>

@code {
    private Domino[] dominos;

    protected override async Task OnInitializedAsync()
    {
        dominos = await Http.GetFromJsonAsync<Domino[]>("Dominos");
    }

    public async Task ShuffleAsync()
    {
        //dominos = await Http.GetFromJsonAsync<List<Domino>>("Dominos");
        dominos = await DominoViewModel.ShuffleAsync();
    }
}