@page "/"
@attribute [Authorize]
@layout MainLayout
@using Domino = FortyTwo.Shared.Models.Domino
@using FortyTwo.Client.Store
@inject HttpClient Http
@inject IJSRuntime JS
@inject IClientStore Store

<button type="button" class="btn btn-link" @onclick="@(async () => await ShuffleAsync())">Shuffle</button>

<div class="domino-container">
    @if (dominos != null)
    {
        @foreach (var domino in dominos)
        {
            <Domino Instance="domino"></Domino>
        }
    }
</div>

@code {
    private Domino[] dominos;

    protected override async Task OnInitializedAsync()
    {
        await ShuffleAsync();

        StateHasChanged();

        Store.Users = await Http.GetFromJsonAsync<List<FortyTwo.Shared.DTO.User>>("api/users");
    }

    public async Task ShuffleAsync()
    {
        try
        {
            dominos = await Http.GetFromJsonAsync<Domino[]>("api/dominos");
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.Message);
        }
    }
}