@page "/"
@attribute [Authorize]
@layout MainLayout
@using Domino = FortyTwo.Shared.Models.Domino
@inject HttpClient Http
@inject IJSRuntime JS

<button type="button" class="btn btn-link" @onclick="@(async () => await ShuffleAsync())">Shuffle</button>

<div class="domino-container">
    @if (dominos != null)
    {
        @foreach (var domino in dominos)
        {
            <FortyTwo.Client.Components.Domino Top="domino.Top" Bottom="domino.Bottom"></FortyTwo.Client.Components.Domino>
        }
    }
</div>

@code {
    private Domino[] dominos;

    protected override async Task OnInitializedAsync()
    {
        await ShuffleAsync();
    }

    public async Task ShuffleAsync()
    {
        dominos = await Http.GetFromJsonAsync<Domino[]>("api/dominos");
    }
}